<div class="form-container">
  <div class="app-box">
    <div>


      <div style="padding-right:15px;" class="container-fluid">

        <div>
          <h1>Option Details</h1>
          <hr>
        </div>

        <div>
          <div class="row">

            <form action="" style="width:100%;" [formGroup]="profileForm">
              <mat-form-field>
                <input matInput formControlName="Client" placeholder="Client Name" type="text">
              </mat-form-field>

              <br />
              <br />
              <div class="row" formArrayName="trade">
                <div *ngFor="let group of TradesArray.controls; let i = index;" [formGroupName]="i">

                  Leg {{i+1}}:

                  <mat-form-field>
                    <input matInput formControlName="type" placeholder="Call(c)/Put(p)" type="text">
                  </mat-form-field>

                  <mat-form-field>
                    <input matInput formControlName="strike" placeholder="strike" type="number">
                  </mat-form-field>

                  <mat-form-field>
                    <input matInput formControlName="spot" placeholder="spot" type="number">
                  </mat-form-field>

                  <mat-form-field>
                    <input matInput formControlName="rate" placeholder="rate" type="number">
                    <span matSuffix>%</span>
                  </mat-form-field>

                  <mat-form-field>
                    <input matInput formControlName="time" placeholder="years to maturity" type="number">
                  </mat-form-field>

                  <mat-form-field>
                    <input matInput formControlName="vol" placeholder="volatility" type="number">
                    <span matSuffix>%</span>
                  </mat-form-field>

                  <mat-form-field>
                    <input matInput formControlName="divYield" placeholder="dividend yield" type="number">
                    <span matSuffix>%</span>
                  </mat-form-field>

                  <mat-form-field>
                    <input matInput formControlName="price" placeholder="price" type="number">
                  </mat-form-field>

                  <button mat-icon-button (click)=" RemoveTrade(i)">
                    <mat-icon>delete</mat-icon>
                  </button>

                </div>

              </div>
              <br />
              <mat-form-field>
                <input matInput formControlName="Total" placeholder="Total" type="number">
              </mat-form-field>
              <br />
              <button mat-icon-button (click)=" addTrade()">
                <mat-icon>add</mat-icon>
              </button>
            </form>
          </div>

          <br />
          <hr>
          <div class="row">
            <button button mat-raised-button (click)="getSolution()" color="primary">Solve</button>&nbsp;
            <button button mat-raised-button (click)="getHistory() " color="primary">Hist </button>&nbsp;
            <button button mat-raised-button (click)="BookTrade()" color="primary">Save </button>&nbsp;
            <button button mat-raised-button (click)="getTrade(3)" color="primary">Test </button>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>